/* About.module.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.aboutSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  margin-bottom: 90px;
}

.aboutLeft img {
  border-radius: 10px;
  width: 420px;
  height: auto;
  transform: translateY(50px);
}

.aboutRight {
  width: 54%;
}

.aboutRight ul li {
  display: flex;
  align-items: center;
}

.aboutRight h1 {
  color: #e74d06;
  font-size: 37px;
  margin-bottom: 5px;
}

.aboutRight p {
  color: #444;
  line-height: 26px;
  font-size: 15px;
}

.aboutRight .address {
  margin: 25px 0;
}

.aboutRight .address ul li {
  margin-bottom: 5px;
}

.address .addressLogo {
  margin-right: 15px;
  color: #e74d06;
}

.address .saprater {
  margin: 0 10px;
}

.aboutRight .expertise ul {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expertise h3 {
  margin-bottom: 10px;
}

.expertise .expertiseLogo {
  font-size: 19px;
  margin-right: 10px;
  color: #e74d06;
}
@media (max-width: 1110px) {
  .aboutSection {
    flex-direction: column;
  }
}
