/* Hero.module.css */
.hero-section {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  height: 76vh;
}

.background img {
  width: 100%;
  border-radius: 13px;
  filter: brightness(60%);
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title {
  color: white;
}

.title h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.title p {
  text-align: center;
  padding: 0 30vw;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.search {
  display: flex;
  background-color: #ffffffce;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.5rem;
}

.container label {
  font-size: 1.1rem;
  color: #03045e;
}

.container input {
  background-color: transparent;
  border: none;
  text-align: center;
  color: black;
}


.container input::placeholder {
  color: black;
}

.container input:focus {
  outline: none;
}

.btn {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  color: white;
  background-color: #4361ee;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #023e8a;
}

@media screen and (min-width: 280px) and (max-width: 980px) {
  .hero-section {
    height: 25rem;
  }



  .background img {
    border-radius: 13px;
    object-fit: cover;
    height: 100%;
  }

  .title h1 {
    font-size: 1rem;
  }

  .title p {
    font-size: 0.8rem;
    padding: 1vw;
  }

  .search {
    flex-direction: column;
    padding: 0.8rem;
    gap: 0.8rem;
  }

  .container {
    padding: 0 0.8rem;
  }

  .container input[type="date"] {
    padding-left: 1rem;
  }

  .btn {
    padding: 1rem;
    font-size: 1rem;
  }
}
