@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}
.aos-init[data-aos].aos-animate {
  transform: unset;
}
.container {
  padding: 0 80px;
}
body,html{
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
