.header {
  padding: 0 80px;
}
.toggle {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
}
.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
}
.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: #48cae4;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: #023e8a;
}
.nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.nav ul li a {
  text-decoration: none;
  color: #0077b6;
  font-size: 1.2rem;
  transition: 0.1s ease-in-out;
}
.nav ul li a:hover {
  color: #023e8a;
}
@media screen and (max-width: 930px) {
  .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .toggle {
    display: block;
  }
  .nav ul li a {
    display: none;
  }
  .nav ul {
    display: none;
  }
  .btn {
    display: none;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
}

.responsive {
  padding: 0 20px;
  display: flex;
  position: absolute;
  z-index: 999;
  top: -400px;
  right: 0;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 30vh;
  width: 100%;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.responsive.active {
  top: 60px;
}
.responsive ul {
  list-style-type: none;
  width: 100%;
}
.responsive ul li {
  margin: 1rem 0;
}
.responsive ul li a {
  text-decoration: none;
  color: #0077b6;
  font-size: 1.2rem;
  transition: 0.1s ease-in-out;
}
.responsive ul li a:hover {
  color: #023e8a;
}
a {
  text-decoration: none;
  color: black;
}
